h1{
    font-size:x-large;
}
table{
    align-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 7%;
}
th, td{
    border: rgb(135, 250, 211) 5px dashed;
    border-radius: 15%;
}
body{
    background-color: rgb(253, 165, 228);
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
h4, h3, h2,h5{ 
    font-size: larger;
}
h1,h2,h3,h4,h5{
    font-style:normal;
    background-color: aliceblue;
    font-stretch: expanded;
    border: 5px rgb(135, 250, 211) dashed;
    border-radius: 15%;
    
}