h1{
    font-size:x-large;
}
table{
    align-content: center;
    border: width 1px rgb(255, 161, 250) solid;
    align-items: center;
    background-color: aliceblue;
}
th, td{
border: rgb(135, 250, 211) 5px dashed
}
body{
    background-color: rgb(11, 233, 159);
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
h4, h3, h2,h5{ 
    font-size: larger;
}
h1,h2,h3,h4,h5{
    font-style:normal;
    background-color: aliceblue;
    font-stretch: expanded;
    border: 5px rgb(135, 250, 211) dashed
}